footer#sticky-footer.py-4.bg-dark.text-white-50.fixed-bottom
            .container.text-center
                a(style='text-decoration: none', href="https://web.getmonero.org/get-started/what-is-monero/", target="_blank")
                    i(style='font-size: 2rem; color: #ff6600').fab.fa-monero
                a(style='text-decoration: none', href="https://github.com/hundehausen/obs-monero-donations", target="_blank")
                    i(style='font-size: 2rem; color: #d2d3d4').fab.fa-github