#greeting, #eingabe {
  margin-top: 2rem;
}

#message-block {
  margin-top: 1.5rem;
}

#heading, #waiting-for-payment-block {
  margin-top: 1.5rem;
}

#donation-canvas {
  font-size: 5rem;
  color: #49C7AF;
}

#donation-message {
  color: white;
  font-size: 3rem;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.payment-recieved {
  display: none;
}

.fab, .fas {
  font-size: 5rem;
}

.container {
  margin-top: 2rem;
}

.fa-check-circle {
  color: green;
}

.fa-monero {
  color: #ff6600;
}

.fa-twitch {
  color: #9147fe;
}

input {
  max-width: 60%;
  margin: auto;
}